NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wingsfin

MARKET_TIMEZONE=Asia/Dhaka
MARKET_OPEN_TIME=10:00
MARKET_CLOSE_TIME=14:30
DEFAULT_INDEX_ID=DSEX
DEFAULT_STOCK_TRADE_CODE=GP
INDEX_YESTERDAY_CLOSE=5200
STOCK_YESTERDAY_CLOSE=238.88

SIMULATOR_ENABLED=true
SIMULATOR_MIN_INTERVAL_MS=300
SIMULATOR_MAX_INTERVAL_MS=3000
CORS_ORIGIN=http://localhost:5173
